<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark text-white pt-2 pb-1">
       <nav class="navbar navbar-expand-lg navbar-light">
         <div class="container">

          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
          <a class="navbar-brand p-3 text-light" href="/">Bookers</a>
      <% if user_signed_in? %>

        <click_button class="text-light">
          <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-home"></i>Homes
          <% end %>
        </button>
        <click_button class="text-light">
          <%= link_to users_path do %>
            <i class="fas fa-users"></i>Users
          <% end %>
        </button>
        <click_button class="text-light">
          <%= link_to books_path do %>
            <i class="fas fa-book-open"></i>Books
          <% end %>
        </button>
        <click_button class="text-light">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>Log out
          <% end %>
        </button>
      <% else %>
        <ul>
        <li class="text-light">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>Home
          <% end %>
        </li>
        <click_button class="text-light">
          <%= link_to home_about_path do %>
            <i class="fas fa-link"></i>About
          <% end %>
        </button>
        <click_button class="text-light">
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i>Sign up
          <% end %>
        </button>
        <click_button class="text-light">
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i>Log in
          <% end %>
        </button>
      </ul>
      <% end %>
          </div>
        </div>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
